:root {
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;

    color-scheme: light dark;
    color: rgba(255, 255, 255, 0.87);
    background-color: #242424;

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    height: 100vh;
}

a {
    font-weight: 500;
    color: #646cff;
    text-decoration: inherit;
}

a:hover {
    color: #535bf2;
}

body {
}

.TitleContainer {
    max-height: 10vh;
    display: flex;
    place-content: center;
    align-content: center;
    background-color: #1a1a1a;
    min-width: 15vw;
    width: 15vw;
    border-right: solid;
    border-color: #1a1a1a;
}

.Title {
    min-height: 10vh;
    align-content: center;
    color: cornflowerblue;
}

.RegistrationPicsContainer {
    display: flex;
    place-content: center;
    align-content: space-between;
    flex-direction: row;
}

.RegistrationPic {
    border-radius: 8px;
    filter: grayscale(70%);
    width: 30vw;
    height: 40vh;
    transition: 0.5s ease;
    margin: 1vh;
}


.RegistrationPic:hover {
    filter: grayscale(0%);
    border-radius: 8px;
    transition: 0.5s ease;
    width: 35vw;
    height: 45vh;
}

.RegistrationFormContainer {
    margin-top: 10vh;
}

.SidebarContainer {
    display: flex;
    flex-direction: column;
    place-content: flex-start;
    height: 80vh;
    border-right: solid;
    border-color: #1a1a1a;
    min-width: 15vw;
    width: 15vw;
}

.Sidebar {
    display: flex;
    flex-direction: column;
}

.MainContainer {
    display: flex;
    flex-direction: row;
    place-content: center;
    max-width: 100vw;
}

.CustomerDisplayBelow {
    display: flex;
    place-content: center;
    background-color: cornflowerblue;
    height: 80vh;
    width: 100vw;
}

.CustomerMain {
    display: flex;
    flex-direction: row;
    place-content: flex-start;

}

.CustomerNavbar {
    display: flex;
    place-content: space-between;
    height: 10vh;
    width: 100vw;
    background-color: lightblue;
}

.CustomerNavbarFooter {
    display: flex;
    place-content: center;
    height: 10vh;
    width: 100vw;
    background-color: lightblue;
}

.CustomerRestaurantList {
}

.tableServiceContainer {
    display: flex;
    flex-direction: row;
    width: 80vw;
}

.restaurantCardContainer {
    width: 80vw;
    height: 75vh;
    display: flex;
    place-items: center;
    overflow-y: scroll;
    scrollbar-width: none;
    flex-direction: column;
}

.restaurantCard {
    background-color: aliceblue;
    border: solid;
    border-color: #1a1a1a;
    margin: 5px;
    height: 15vh;
    width: 25vw;
    transition: 0.5s ease;
}

.restaurantCard:hover {
    background-color: lightskyblue;
    transition: 0.5s ease;
    width: 26vw;

}

.restaurantName {
    background-color: #1a1a1a;
    color: #f9f9f9;
}

.restaurantDetail {
    color: #888888;
}

.RestaurantDisplayBelow {
    display: flex;
    place-content: center;
    background-color: cornflowerblue;
    height: 80vh;
    width: 100vw;
}

.tableCardContainer {
    width: 60vw;
    height: 75vh;
    display: flex;
    place-items: center;
    overflow-y: scroll;
    scrollbar-width: none;
    flex-direction: column;
}

.tableContainer {
    width: 20vw;
    height: 80vh;
}


.tableEditorContainer {
    border: solid;
    border-color: #1a1a1a;
    width: 20vw;
    height: 20vh;
    display: flex;
    place-items: flex-start;
    overflow-y: scroll;
    scrollbar-width: none;
    flex-direction: column;
}

.tableReservationListContainer {
    border-left: solid;
    border-right: solid;
    border-bottom: solid;
    border-color: #1a1a1a;
    width: 20vw;
    height: 60vh;
    display: flex;
    place-items: center;
    overflow-y: scroll;
    scrollbar-width: none;
    flex-direction: column;
}

.tableCard {
    background-color: aliceblue;
    border: solid;
    border-color: #1a1a1a;
    margin: 5px;
    height: 15vh;
    width: 25vw;
    transition: 0.5s ease;
}

.tableCard:hover {
    background-color: lightskyblue;
    transition: 0.5s ease;
    width: 26vw;
}

.tableDetail {
    color: #1a1a1a;
}

h1 {
    font-size: 3.2em;
    line-height: 1.1;
}


button {
    border-radius: 8px;
    border: 1px solid transparent;
    padding: 0.6em 1.2em;
    margin: 0.1rem;
    font-size: 1em;
    font-weight: 500;
    font-family: inherit;
    background-color: #1a1a1a;
    cursor: pointer;
    transition: border-color 0.25s;
}

button:hover {
    border-color: #646cff;
}

button:focus,
button:focus-visible {
    outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
    :root {
        color: #213547;
        background-color: #ffffff;
    }

    a:hover {
        color: #747bff;
    }

    button {
        background-color: #f9f9f9;
    }
}
